/* Tour page styles */

.tour {
  color: #2a5044;
  font-weight: bold;
}

th, 
td {
  border: solid 1px #2a5044;
}

th, 
td {
  padding: 5px 10px;
  border-spacing: 5px;
}

th {
  background-color: #2a5044;
  color: #f2f2f2;
  border-radius: 5px;
}

.heading{
  display: inline-block;
  margin: 0;
}

.pick{
  width: 40px;
  height: 40px;
  padding: 10px;
}
